.header .row1 
{
  background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+44,9ebc2f+100 */
  background: #fefefd; /* Old browsers */
  background: -moz-linear-gradient(left, #fefefd 0%, #dce3c4 44%, #9ebc2f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefefd), color-stop(44%,#dce3c4), color-stop(100%,#9ebc2f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* IE10+ */
  background: linear-gradient(to right, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#9ebc2f',GradientType=1 ); /* IE6-9 */ 
}

.right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.comments, .new-comment{
  width: 60%;
  margin-top:100px;
  margin-left: 40px;
}

.comments .panel-body {
  color:blue;
}

.article {
  margin: 40px;
}

}
.footer {
  padding: 10px;
  margin: 20px 0 0;
  text-align: center; 

}
.header img {
  width: 150px;
}    
.header blockquote {
  text-align: right;
  margin-right: 40px;
}

.footer a, .footer span {
  margin: 0 20px;
}

.footer span {
  color: #767676;
}

.wrapper {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(158,188,47,1);
  -moz-box-shadow: 5px 5px 20px 5px rgba(158,188,47,1);
  box-shadow: 5px 5px 20px 5px rgba(158,188,47,1);
  padding: 15px;
  margin-bottom: 25px;
}

.content .contact {
  margin-bottom: 20px;
}

.name_contact {
  font-size: 25px;
  color: green;

}

.location_contact {
  font-size: 20px;
  text-decoration: underline;

}

.location_contact .glyphicon {
  font-size: 16px;
}

.about .item {
  margin-top: 35px;
}

.about .item .img {
  width: 200px;
  margin: 0 auto;
}

.about .item .name {
  font-size: 25px;
  color: SeaGreen;
}

.about .item .address {
  font-size : 17px;
}

.about .item .info {
  font-size: 14px;
}

.contacts-image {
  margin-bottom: 15px;
}
