{% extends 'page-template.html' %}

{% block content %}

<div class="content container about">
	<div class="row">
		<div class="col-md-4">
			<div class="item">
				<div class="img">
					<img src="http://i.imgur.com/a9hjQ8E.jpg" height="200px" class="img-circle">
				</div>
				<h4 class="name text-center">Tatiana Moraru</h4>
				<h5 class="address text-center">r.Floresti, s.Stefanesti,, Republica Moldova</h5>
				<h6 class="info text-center">"Nu uita ca totul incepe de la tine.Tu dai exemplu celorlanti."</h6>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item">
				<div class="img">
					<img src="http://i.imgur.com/MBvHGHg.jpg" width="200px" height="200px" class="img-circle">
				</div>
				<h4 class="name text-center">Ana Cobzac</h4>
				<h5 class="address text-center">r.Ungheni, Republica Moldova</h5>
				<h6 class="info text-center">"Succesul ne asteapta pe drumul la care renuntam."</h6>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item">
				<div class="img">
					<img src="http://i.imgur.com/rzgmmes.jpg" width="200px" height="200px" class="img-circle">
				</div>
				<h4 class="name text-center">Mihaela Birca</h4>
				<h5 class="address text-center">r.Floresti, s.Stefanesti, Republica Moldova</h5>
				<h6 class="info text-center">"Unicul lucru pe care l-am invatat in viata este ca trebuie sa invat mai mult"</h6>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item">
				<div class="img">
					<img src="http://i.imgur.com/kb7uJdO.jpg" width="200px" height="200px" class="img-circle">
				</div>
				<h4 class="name text-center">Ana Ciubotaru</h4>
				<h5 class="address text-center">r.Ungheni, Republica Moldova</h5>
				<h6 class="info text-center">"Gindeste,e gratis!"</h6>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item">
				<div class="img">
					<img src="http://i.imgur.com/GUujZrI.jpg" width="200px" height="200px" class="img-circle">
					<h4 class="name text-center">Marc Graciov</h4>
					<h5 class="address text-center">r.Straseni, Republica Moldova</h5>
					<h6 class="info text-center">Divide Et Impera!</h6>
				</div>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="item">
				<div class="img">
					<img src="http://i.imgur.com/ksPtX2D.jpg" width="200px" height="200px" class="img-circle">
				</div>
				<h4 class="name text-center">Galina Vornicoi</h4>
				<h5 class="address text-center">r.Calarasi, s.Parcani, Republica Moldova</h5>
				<h6 class="info text-center">"O persoana inteligenta rezolva o problema.O persoana inteleapta o evita."</h6>
			</div>
		</div>
	</div>
</div>

{% endblock %}