{% extends 'bootstrap/base.html'%}

{% block content %}
<style type='text/css'> 
  .header .row1 
  {
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+44,9ebc2f+100 */
background: #fefefd; /* Old browsers */
background: -moz-linear-gradient(left, #fefefd 0%, #dce3c4 44%, #9ebc2f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefefd), color-stop(44%,#dce3c4), color-stop(100%,#9ebc2f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* IE10+ */
background: linear-gradient(to right, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#9ebc2f',GradientType=1 ); /* IE6-9 */ }

  .comments, .new-comment{
    width: 60%;
    margin-top:100px;
    margin-left: 40px;
  }

  .comments .panel-body {
  color:blue;
  }

  .article {
    margin: 40px;
  }

  .article h2{
    text-align: center;
  }
  .footer {
    margin:20px 0 10px;
    text-align: center; 

  }
  .header img {
    width: 150px;
  }    
  .header blockquote {
    text-align: right;
    margin-right: 40px;
  }

</style>

<div class="header">
  <div class="row row1">
    <div class="col-md-2">
      <img src="{{url_for('static', filename='logo.png')}}">
    </div>
    <div class="col-md-10">
      <div class="title"> <h1> <span class="glyphicon glyphicon-grain" aria-hidden="true">EcoViață</span></h1>
      <blockquote>
        <p>Avem nevoie de gunoiul TĂU!</p>
      </blockquote>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cum devin eco?</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#"> Evenimente <span class="sr-only">(current)</span></a></li>
        <li ><a href="#"> Contacte<span class="sr-only">(current)</span></a></li>          
        <li ><a href="#"> Despre noi <span class="sr-only">(current)</span></a></li>
    </ul>
    </div>
      


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-lg-3 pull-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Căutare">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div> 

<div class="content">
  <div class="article">
    <h2> {{article.title}}</h2>
    {{article.content|safe}}
  </div>
</div>

<div class="comments">
  <h4><i>Comentarii</i></h4>
  {% for c in comments %}
  <div class="panel panel-default">
    <div class="panel-heading"> {{c.user.nume}}
    </div>
    <div class="panel-body"> {{c.message}}
    </div>
  </div>
  {% endfor %}
</div>

<div class="new-comment">
  <i> Adauga comentariu </i>
  <form method = 'post' action = '/article/{{article.id}}'> 
   {{form.csrf_token}} <div class="row form-group {% if form.message.errors%} has-error {% endif %}"> 
   <div class="col-md-9">
     {{form.message(class='form-control', row='3', placeholder=form.message.label.text)}}
   </div>
   <div class="col-md-3">
    <span class="help-block"> {{ ' ' .join(form.message.errors)}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    {{form.submit(class='btn btn-info pull-right')}}
  </div>
</div>
</form>
</div>

<div class="footer bg-success" >
  EcoViata 2015
</div>



{% endblock %}
