{% extends 'page-template.html'%}

{% block content %}

<div class="row">
  <div class="col-lg-6 pull-right search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Căutare">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div> 

<div class="content">
  <div class="article">
    <h2> {{article.title}}</h2>
    {{article.content|safe}}
  </div>
</div>

<div class="comments">
  <h4><i>Comentarii</i></h4>
  {% for c in comments %}
  <div class="panel panel-default">
    <div class="panel-heading"> {{c.user.nume}}
    </div>
    <div class="panel-body"> {{c.message}}
    </div>
  </div>
  {% endfor %}
</div>

<div class="new-comment">
  <i> Adauga comentariu </i>
  <form method = 'post' action = '/article/{{article.id}}'> 
   {{form.csrf_token}} <div class="row form-group {% if form.message.errors%} has-error {% endif %}"> 
   <div class="col-md-9">
     {{form.message(class='form-control', row='3', placeholder=form.message.label.text)}}
   </div>
   <div class="col-md-3">
    <span class="help-block"> {{ ' ' .join(form.message.errors)}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    {{form.submit(class='btn btn-info pull-right')}}
  </div>
</div>
</form>
</div>
{% endblock %}
