{% extends 'bootstrap/base.html'%}

{% block content %}
<style type='text/css'> 
  .header .row1 
  {
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+44,9ebc2f+100 */
background: #fefefd; /* Old browsers */
background: -moz-linear-gradient(left, #fefefd 0%, #dce3c4 44%, #9ebc2f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefefd), color-stop(44%,#dce3c4), color-stop(100%,#9ebc2f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* IE10+ */
background: linear-gradient(to right, #fefefd 0%,#dce3c4 44%,#9ebc2f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#9ebc2f',GradientType=1 ); /* IE6-9 */ }

  .comments, .new-comment{
    width: 60%;
    margin-top:100px;
    margin-left: 40px;
  }

  .comments .panel-body {
  color:blue;
  }

  .article {
    margin: 40px;
  }

  .article h2{
    text-align: center;
  }
  .footer {
    margin:20px 0 10px;
    text-align: center; 

  }
  .header img {
    width: 150px;
  }    
  .header blockquote {
    text-align: right;
    margin-right: 40px;
  }

</style>
<div class="header">
  <div class="row row1">
    <div class="col-md-2">
      <img src="{{url_for('static', filename='logo.png')}}">
    </div>
    <div class="col-md-10">
      <div class="title"> <h1> <span class="glyphicon glyphicon-grain" aria-hidden="true">EcoViață</span></h1>
      <blockquote>
        <p>Avem nevoie de gunoiul TĂU!</p>
      </blockquote>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cum devin eco?</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#"> Evenimente <span class="sr-only">(current)</span></a></li>
        <li ><a href="#"> Contacte<span class="sr-only">(current)</span></a></li>          
        <li ><a href="#"> Despre noi <span class="sr-only">(current)</span></a></li>
    </ul>
    </div>
      


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-lg-3 pull-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Căutare">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div> 


<div class="row">
  <div class="col-ms-3">
    <div class='form-inline'>
        <form action="#">
        <div class="form-group">
               <select name="nutrition">
                   <option value="1">Anenii Noi</option>
                   <option value="2">Basarabeasca</option>
                   <option value="3">Bălți</option>
                   <option value="4">Bender</option>
                   <option value="5">Briceni</option>
                   <option value="6">Cahul</option>                   <option value="2">Bălți</option>
                   <option value="7">Chișinău</option>                   <option value="2">Bălți</option>              ;<option value="8">Comrat</option>
                   <option value="9">Edineț</option>
                   <option value="10">Florești</option>
                   <option value="11">Glodeni</option>
                   <option value="12">Leova</option>
                   <option value="13">Rezina</option>
                   <option value="14">Rîșcani</option>
                   <option value="15">Soroca</option>
                   <option value="16">Strășeni</option>
                   <option value="17">Teleneșto</option>
                   <option value="18">Ungheni</option>






               </select>
           </div>
            <div class='form-group'>
                <input type="text" id="animal-name" class="form-control" placeholder='Animal name'>
            </div>
            <div class='checkbox'>
                <label >
                    <input type="checkbox"> Save this search for later
                </label>
            </div>
            <div class='form-group'>
                <button type="submit" class='btn btn-info' disabled>    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Search</button>
            </div>
        </form>
    </div>

  </div>
</div>